In [1]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")

Setup Complete

In [38]:
fileName = 'StudentsPerformance.csv'
fifa_data = pd.read_csv(fileName, index_col= "gender")

In [39]:
fifa_data.head()

,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
gender,,,,,,,
female,group B,bachelor's degree,standard,none,72,72,74
female,group C,some college,standard,completed,69,90,88
female,group B,master's degree,standard,none,90,95,93
male,group A,associate's degree,free/reduced,none,47,57,44
male,group C,some college,standard,none,76,78,75

In [2]:
plt.figure(figsize=(16,8))
plt.title('daw')
sns.scatterplot(data=fifa_data['math score'], label='a')
sns.scatterplot(data=fifa_data['reading score'], label='b')
sns.scatterplot(data=fifa_data['writing score'], label='c')

plt.xlabel('data')

NameError: name 'plt' is not defined